@font-face {
  font-family: 'Siemens Sans';
  src: url('@/assets/fonts/SiemensSansPro_V7/Web/WOFF2/SiemensSansPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Siemens Sans';
  src: url('@/assets/fonts/SiemensSansPro_V7/Web/WOFF2/SiemensSansPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 